<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Web APP
        {% endblock %}
    </title>
</head>
<body>
    <Header>
        <h3>Header Portion</h3>
    </Header>
    <h1>Marklance Infotech</h1>

    {% block content %}
    {% endblock %}


    <div>
        <h4> Base content</h4>
        <p>fgtyhuijoklhbnjkl vhgjbknlm;</p>
        <p>vgjhkl;njnjkkjk</p>
    </div>
</body>
</html>